body{
    background-color: black;
    font-family: 'Alegreya', serif;
}
.navbar{
    color: #ffffff;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}
.main{
  text-align: center; 
  margin: 4em;
  color: #ffffff;

}
.col-sm, #notepad{
  background-color: #FFFFFF;
  margin: 1em;
  height: 6em;
  color: #000000;
}
.nBody{
  text-align: left;   
}